/* Your CSS goes here */
#main {
  text-align: center;
}

#close {
  position: absolute;
  top: 90px;
  right: 0;
  width: 64px;
  height: 64px;
  overflow: hidden;
  z-index: 1000;
}
#close img {
  width: 100%;
}

#speed {
    font-size: 8em;
    line-height: .8em;
}

#safe {
    background-color: aqua;
    padding: 15px 32px;
}

#logo {
    width:40%;
    height:40%;
    position: relative;
    right: 75px;
}

#teenControl {
    float: left;
    position: relative;
    left: 10px;
    padding: 2px 2px 2px 2px;
    border: solid;
    border-color:darkred;
}